#
# Copyright (C) 2020  Sebastian Pipping <sebastian@pipping.org>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

name: Build (Linux, Ubuntu)

on:
- pull_request
- push

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - runs-on: ubuntu-24.04
            qt: qt5-qmake
          - runs-on: ubuntu-22.04
            qt: qt5-qmake

    name: Build (Linux, ${{ matrix.runs-on }})
    runs-on: ${{ matrix.runs-on }}
    steps:
      - name: 'Install build dependencies'
        run: |-
          set -e
          sudo apt-get update
          sudo apt-get install --yes --no-install-recommends \
            build-essential \
            libapr1-dev \
            libsvn-dev \
            ${{ matrix.qt }} \
            qtbase5-dev \
            subversion

      - name: 'Checkout Git branch'
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: 'Configure'
        run: |-
          qmake

      - name: 'Build'
        run: |-
          make

      - name: 'Test'
        run: |-
          ./test.sh --no-make

      - name: 'Install'
        run: |-
          set -e
          make INSTALL_ROOT="${PWD}"/ROOT install
          find ROOT | sort

  docker:
    name: Check Dockerfile
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout Git branch'
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: 'Build'
        run: |-
          docker build .
